body {
  margin: 0;
  padding: 0;
}

#board {
  height: 100vh;
  width: 100vw;
  position: relative;
  /* background-color: rgb(73, 43, 31); */
  background-image: url("./terrain.jpg");
  background-size: repeat;
}

#player {
  position: absolute;

  /* transform: rotate(350deg); */
  /* offset-path: path("M-70,-40 C-70,70 70,70 70,-40"); */
}

.building {
  position: absolute;
  /* outline: 1px solid green; */
  background-image: url("./building.png");
  background-size: cover;
  outline: 2px solid green;
  -webkit-filter: drop-shadow(15px 15px 5px #22222298);
  filter: drop-shadow(15px 15px 5px #22222298);
}

.ufo {
  position: absolute;

  background-image: url("./ufo2.png");
  background-size: cover;
  -webkit-filter: drop-shadow(15px 15px 5px #22222298);
  filter: drop-shadow(15px 15px 5px #22222298);
}

.destroyed {
  -webkit-filter: drop-shadow(15px 15px 5px #b41313d2);
  filter: drop-shadow(15px 15px 5px #d30a0a98);
}

img {
  width: 100%;
  height: auto;

  /* transform-origin: 50% 1270%; */
}

.bullet {
  position: absolute;
  background-color: rgb(255, 255, 255);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  transform-origin: 50% 50%;
}

#parentTank {
  position: relative;
  /* outline: 1px solid red; */
}

#imgTank {
  position: absolute;
  /* width: 100%; */
  height: auto;
  /* outline: 1px solid blue; */
  /* transform-origin: 50% 1270%; */
  -webkit-filter: drop-shadow(5px 5px 5px #222222ce);
  filter: drop-shadow(5px 5px 5px #222222ce);
}

#imgTurret {
  position: absolute;
  width: 100%;
  height: auto;

  transform-origin: 50% 80%;
  z-index: 1;
  bottom: 8%;
  -webkit-filter: drop-shadow(5px 5px 5px #222222ce);
  filter: drop-shadow(5px 5px 5px #222222ce);
  /* outline: 1px solid yellow; */
}
