body {
  margin: 0;
  padding: 0;
}

#score {
  position: absolute;
  font-size: 1.3rem;
  color: white;
  font-weight: bold;
  top: 0;
  left: 40px;
  background-color: #22222298;
  padding: 10px;
  z-index: 1;
  width: 8rem;

  background-color: #b9b792c7;
  border: 2px solid #6b6956;
  border-radius: 10px;
  box-shadow: 0 0 8 px 2px #6b6956;
}

p {
  padding: 1rem;
  font-family: "Courier New", Courier, monospace;
}

h1 {
  text-align: center;
  font-size: 3.8rem;
  color: #4b5320;
}

#board {
  height: 100vh;
  width: 100vw;
  /* max-width: 1440px; */
  position: relative;
  /* background-color: rgb(73, 43, 31); */
  background-image: url("../assets/img/terrain_rocks.jpg");
  background-size: repeat;
}

#player,
.player {
  position: absolute;

  /* transform: rotate(350deg); */
  /* offset-path: path("M-70,-40 C-70,70 70,70 70,-40"); */
}

#score {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  font-size: 2em;
  font-weight: bold;
  padding: 10px;
  z-index: 1;
}

.building {
  position: absolute;
  /* outline: 1px solid green; */
  background-image: url("../assets/img/building.png");
  background-size: cover;
  outline: 2px solid green;
  -webkit-filter: drop-shadow(15px 15px 5px #22222298);
  filter: drop-shadow(15px 15px 5px #22222298);
}

.building-hp3 {
  background-image: url("../assets/img/building_dmg1.png");
}
.building-hp2 {
  background-image: url("../assets/img/building_dmg2.png");
}
.building-hp1 {
  background-image: url("../assets/img/building_dmg3.png");
}
.building-destroyed {
  background-image: url("../assets/img/building_destroyed.png");
  outline: none;
}

.ufo {
  position: absolute;

  background-image: url("../assets/img/ufo2.png");
  background-size: cover;
  -webkit-filter: drop-shadow(15px 15px 5px #d0db31d0);
  filter: drop-shadow(15px 15px 5px #d0db31d0);
  /* -webkit-filter: drop-shadow(15px 15px 5px #22222298);
  filter: drop-shadow(15px 15px 5px #22222298); */
}

.dummy {
  -webkit-filter: drop-shadow(15px 15px 5px #b41313d2);
  filter: drop-shadow(15px 15px 5px #d30a0a98);
}

img {
  width: 100%;
  height: auto;

  /* transform-origin: 50% 1270%; */
}

.bullet {
  position: absolute;
  background-color: rgb(255, 255, 255);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  transform-origin: 50% 50%;
}

#parentTank {
  position: relative;
  /* outline: 1px solid red; */
}
/* #imgTank::before {
  content: "rwwwr";
  position: absolute;
  top: 0;

  padding-top: 100%;
} */

.imgTank {
  position: absolute;
  /* width: 100%; */
  height: auto;
  /* outline: 1px solid blue; */
  /* transform-origin: 50% 1270%; */
  -webkit-filter: drop-shadow(5px 5px 5px #222222ce);
  filter: drop-shadow(5px 5px 5px #222222ce);
  /* border-top: 5px solid rgb(45, 160, 41); */
  /* padding-top: 5px; */
  /* border-image: linear-gradient(#333, #333 50%, #eee 75%, #333 75%); */
  border-image: linear-gradient(to left, red 0%, green 0%) 2;

  border-width: 6px 0 0 0;
  border-style: solid;
}

.hp3 {
  border-image: linear-gradient(to left, red 20%, green 20%) 2;
}
.hp2 {
  border-image: linear-gradient(to left, red 40%, green 40%) 2;
}
.hp1 {
  border-image: linear-gradient(to left, red 60%, green 60%) 2;
}
.hp0 {
  border-image: linear-gradient(to left, red 80%, green 80%) 2;
}
#imgTurret {
  position: absolute;
  width: 100%;
  height: auto;

  transform-origin: 50% 80%;
  z-index: 1;
  bottom: 18%;
  -webkit-filter: drop-shadow(5px 5px 5px #222222ce);
  filter: drop-shadow(5px 5px 5px #222222ce);
  /* outline: 1px solid yellow; */
}
